@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}



.nav {
  height: 60px;
  width: auto;
  position: relative;
  display: flex;
  /* Use flexbox to center items horizontally */
  justify-content: center;
  /* Center items horizontally */
  margin-top: 10px;
}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
  display: none;

}

.nav>.nav-links {
  display: inline;
  font-size: 18px;
  background-color: #9E1C36;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  color: #efefef;
  font-size: 20px;
  font-weight: bolder;
}

.nav .nav-links>a:hover {
  color: #232342;
}

.nav>#nav-check {
  display: none;
}

@media (min-width: 800px) and (max-width: 1300px) {
  .nav>.nav-links>a {
    font-size: 12px;
  }
}

@media (max-width: 800px) {
  .nav>.nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav>.nav-btn>label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav>.nav-btn>label:hover,
  .nav #nav-check:checked~.nav-btn>label {
    background-color: #9E1C36;
  }

  .nav>.nav-btn>label>span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }

  .nav>.nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: auto;
    /* Change this to auto */
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
    background-color: #9E1C36;
    /* Add background color */
  }

  .nav>.nav-links>a {
    display: block;
    width: 100%;
    padding: 10px 0;
    /* Add some padding for better spacing */
    text-align: center;
    /* Center-align the text */
  }

  .nav>#nav-check:not(:checked)~.nav-links {
    height: 0;
  }

  .nav>#nav-check:checked~.nav-links {
    height: auto;
    /* Change this to auto */
    overflow-y: auto;
    z-index: 99;
  }

  .nav {
    background-color: #9E1C36;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.dyimg {
  margin-right: 20px;
  /* Adjust the spacing between the image and the title */
}

.title h2 {
  margin: 0;
  /* Remove default margin for h2 */
  font-family: 'Noto Serif', serif;
  font-weight: 700;
  color: #9E1C36;
}

.title p {
  margin: 0;
  font-weight: bolder;
  font-size: 16px;
  line-height: normal;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    /* Stack items vertically on smaller screens */
    margin-bottom: 20px;
  }

  .dyimg {
    margin-bottom: 15px;
    /* Adjust the spacing between the image and the title for mobile */
    margin-right: 0;
    /* Reset margin for mobile */
  }
}


.homesection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: auto;
}

.textconf {
  max-width: 1350px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  /* Add margin between text and image */
}

.textconf p {
  margin: 10px 0;
  font-family: 'Noto Serif', serif;
  font-weight: normal;
  font-size: 1.2em;
  color: #000;
}

@media (max-width: 800px) {
  .textconf>h3 {
    font-size: 16px;
  }

  .textconf>p {
    font-size: 14px;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .textconf {
    margin-top: 10px;
  }

  .textconf>h3 {
    font-size: 17px;
  }

  .textconf>p {
    font-size: 15px;
  }
}





/* Add this CSS to your existing styles or in a separate stylesheet */

#myCarousel {
  max-width: 800px;
  margin-right: auto;
  margin-left: 15%;
}

.carousel-inner {
  width: 100%;
  border-radius: 15px;
}

.carousel-item {
  width: 100%;
  /* Set a fixed width for each slide */
}

.carousel-item img {
  width: 100%;
  /* Make sure the image inside each slide takes full width */
  height: 450px;
  /* Set a fixed height for the images */
  object-fit: cover;
  /* Maintain the aspect ratio and cover the entire space */
}

@media (max-width: 800px) {
  #myCarousel {
    max-width: 100%;
    margin: 0 auto;
    /* Allow the carousel to take full width on small screens */
  }

  .carousel-item img {
    height: auto;
    /* Auto height for images on smaller screens */
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  #myCarousel {
    max-width: 100%;
    margin-left: 8%;
  }

  .carousel-item img {
    height: 300px;
    width: 100%;
  }
}


.content p {
  font-size: 20px;
  line-height: 1.6;
  color: #000;
  text-align: center;
  margin-top: 25px;
  margin-right: 23px;
}

@media (max-width: 800px) {

  .content p {
    font-size: 13px;
    line-height: 1.3;
  }
}


@media (min-width: 800px) and (max-width: 1300px) {
  .content p {
    font-size: 14px;
    margin-top: 0;
  }
}




.callforpapers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.abt {
  font-size: 24px;
  color: #9E1C36;
  text-align: center;
}




.containerdate {
  max-width: 400px;
  max-height: 550px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
}

.date-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 6px;
}

h3 {
  color: #333;
}

p {
  color: #666;
  margin-top: 5px;
}

@media (max-width: 800px) {
  .containerdate {
    width: 300px;
    margin-top: 0;
    margin: 0 auto;
  }

  .date-item {
    margin-top: 7px;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 14px;
  }
}


.notesgrid {
  padding: 1rem;
  display: grid;
  place-items: center;
  font-size: 23px;
}


ul {
  list-style-position: inside;
  width: 700px;
  background: white;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.15);
  padding: 0;
  height: auto;
  margin: 0;
  border-radius: 0.1rem;
}

li {
  padding: 0 0 0 1rem;
}

li:not(:last-child) {
  border-bottom: 1px solid #9E1C36;
}

li:first-child {
  margin-top: 1rem;
}

li:last-child {
  margin-bottom: 1rem;
}

::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.4 16.2c-2.3-2.3-5.4-3.5-8.4-4.5-.5-.2-1.1-.3-1.6-.5-1.6-1.6-3.7-2.8-6.2-3.2-1-.2-1.9.1-2.5.6-.9-.3-1.8-.6-2.7-.8-3.2-1-6.4-1.8-9.5-.1-1 .5-1.9 1.2-2.7 2-6.4 1.4-11.7 5-12.4 12.7C0 27 1.9 31.5 4.9 34.9c.1.6.2 1.1.4 1.7 1 3.2 3.3 5.7 6.7 6.5 2.7.6 5.4-.2 7.9-1.2 3.3.4 6.7.3 9.9 0 6.5-.7 13.3-2.8 17.1-8.5 3.6-5.2 4-12.6-.5-17.2zm-17.3.9c2.1.4 4 1.7 4.7 3.8 0 .5-.1 1.1-.2 1.6-.3 1.4-.8 2.6-1.6 3.7-.7.2-1.5.1-2.3-.4-.8-.4-1.6-1-2.2-1.6-.4-.4-1.2-1.7-1.6-1.9 3.4 1.3 5.1-3 3.2-5.2zm-11.6 9.7c.2-1.9 1.1-3.9 2.3-5.5-.4 2.1.3 4.2 1.7 6 1.3 1.7 3.1 3.2 5 4.2-.2.1-.4.2-.6.4-.1 0-.1.1-.2.1-3.9.2-8.7-.8-8.2-5.2zm-6.4 3.1c.1.3.1.7.2 1 .2.6.4 1.2.7 1.8-.4-.2-.7-.5-1-.7.1-.8.1-1.4.1-2.1zm31.2-1.3c-.9 1.7-2.1 3.1-3.7 4.1 2-2.1 3.4-4.7 4-7.6.2-.7.3-1.4.3-2.1.6 1.5.5 3.3-.6 5.6z'/%3E%3C/svg%3E") ' ';
}

li:nth-child(3n)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M46.5 12.5c-.4-1.1-1.3-1.8-2.2-2-4.2-4-11.6-4.3-17.1-4.1-6.9.3-13.9 2.1-19.4 6.5C2 17.5-2.4 25.7 2.5 32.6c2.2 3.2 5.5 4.9 9 5.5 3.3 1.7 6.7 3.3 10.2 4.4 7.8 2.3 17 1.6 23.2-4.3 7.3-7 4.8-17.3 1.6-25.7zm-20.2 2.7c.6 0 1.3 0 1.8.2 1.1.4 1.7 1.3 2 2.3-1-1.2-2.4-2.1-3.8-2.5zm-1.4 6.6c.9.9 1.3 2.2-.2 2.3-2 .2-1.1-1.9.2-2.3zm-11.8 9.8c-.6-.3-2.9-1.1-3.2-1.8-.2-.5 1.4-3.1 2.1-4.2.3.5.7 1 1.2 1.4 0 .3.1.6.2.8.5 1.9 1.5 3.1 2.9 4h-.2c-.8.1-1.6.1-2.5-.1-.2 0-.3 0-.5-.1zM24 36.4c1.6-.7 3-1.5 4.3-2.5.8.2 1.7.3 2.5.5 2.5.4 5.2.9 7.7.6-.9.6-2 1.1-3 1.4-3.9 1.3-7.7 1-11.5 0z'/%3E%3C/svg%3E") ' ';
}

li:nth-child(3n - 1)::marker {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' width='14' viewBox='0 0 50 50'%3E%3Cpath d='M48.3 23.7c-1-9.9-9.9-15.6-18.8-17.8-8.2-2.1-18.8-2.6-24.6 4.8C.6 16.2 1 23.6 4.3 29.3c-.5 1-.8 2-1 3-.6 4 2 7.6 5.1 10 5.9 4.4 14 4.2 19.6-.4 1.5 0 2.9-.2 4.4-.5 1.8 0 3.5 0 5.3-.1 2.3-.1 3.5-1.9 3.5-3.7 4.5-3.3 7.7-8.2 7.1-13.9zM9.1 17.8c1.1-4.1 4.9-5.8 8.8-6.1.9-.1 1.9-.1 2.9-.1-3.2 1.6-6.3 4.6-8 7.4-.1.1-.1.2-.2.3-1.1.9-2.1 1.9-3 2.9-.2.2-.4.4-.5.6-.4-1.7-.5-3.3 0-5z'/%3E%3C/svg%3E") ' ';
}

@media (max-width: 800px) {
  .abt {
    font-size: 18px;
  }

  .notesgrid {
    width: auto;
    font-size: 16px;
    margin: 0;
    /* Remove margin from the top and bottom */
  }

  .containerdate {
    margin-top: 0;
  }

  ul {
    width: 100%;
  }

  ::marker {
    content: none;
  }

  li {
    padding-left: 1rem;
  }

  li:not(:last-child) {
    border-bottom: 1px solid lightblue;
  }

  li:first-child {
    margin-top: 0;
    /* Remove margin from the top */
  }

  li:last-child {
    margin-bottom: 0;
    /* Remove margin from the bottom */
  }

  li:nth-child(3n)::marker,
  li:nth-child(3n - 1)::marker {
    content: none;
  }

  .callforpapers {
    display: block;
  }
}


.committeesec {
  height: auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 20px;
  row-gap: 20px;
}

.card {
  width: 250px;
  text-align: center;
}

.card img {
  height: 280px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h5 {
  color: #9E1C36;
}

.card-body {
  text-align: center;
}






.dropdownscom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.dropdown {
  margin-right: 20px;
  position: relative;
  z-index: 1;
}

label {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 2;
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-top: 10px; /* Add margin to the top of dropdown content */
}

/* Hide checkboxes */
input[type="checkbox"] {
  display: none;
}

/* Display content when checkbox is checked */
input[type="checkbox"]:checked + .dropdown-content {
  display: block;
  opacity: 1;
}

/* Style for dropdown content items */
.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

.card {
  width: calc(25% - 20px); /* Adjust card width and spacing */
  margin-bottom: 20px; /* Adjust spacing between cards and dropdowns */
}


@media (max-width: 800px) {
  .image-grid {
    display: block;
    text-align: center;
  }

  .card {
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 10px;
  }

  .dropdownscom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .dropdown {
    margin-right: 0;
  }

  .dropdown-content {
    width: 100%;
    font-size: 14px;
  }
}

@media (min-width: 800px) and (max-width: 1300px) {
  .card {
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 10px;
  }

  .dropdownscom {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .dropdown {
    margin-right: 0;
  }

  .dropdown-content {
    width: 100%;
    font-size: 14px;
  }
}



.author {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0; 
}

.cards {
  width: calc(25% - 20px); /* Adjust card width with margin */
  padding: 20px;
  border: 1px solid #ddd; /* Border color */
  border-radius: 8px; /* Border radius for rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle lift effect */
  box-sizing: border-box;
  background-color: #FAF6F0;
  margin-top: 10px;
}

.cards h2 {
  color: #9E1C36; /* Heading color */
}

.cards p {
  color: #000; /* Paragraph text color */
}

@media (max-width:800px) {
  .author{
    display: block;
  }
  .cards{
    width: auto;
  }
}


.progtab {
  font-family: 'Arial', sans-serif;
  margin: 10px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


table {
  border-collapse: collapse;
  width: auto;
  margin: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

th {
  background-color: #9E1C36;
  color: #fff;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
@media only screen and (max-width: 800px) {
  .progtab{
    display: block;
  }
  table{
    text-align: center;
    margin: 0 auto;
  }
  th, td {
    box-sizing: border-box;
  }

  th {
    text-align: center;
  }

  tr {
    margin-bottom: 10px;
  }
}