@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500&family=Shippori+Mincho+B1&family=Source+Serif+4:opsz,wght@8..60,300&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.top-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.conference-heading{
    color: #9E1C36;
    margin-top: 20px;
    font-size: 1.7rem;
    line-height: 1.2;
    font-weight: 500;
}

.conference-heading h2{
    text-align: center;
    font-family: 'Shippori Mincho B1', serif;
}

.dylogo img{
    width: 300px;
}

.conference-heading p{
    text-align: center;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .top-header {
        flex-direction: column;
        align-items: center;
    }

    .dylogo img {
        width: 200px; /* Further reduce image width for small screens if needed */
    }
    .conference-heading{
        margin: 8px;
    }
    .conference-heading h2 {
        font-size: 1.3rem; /* Adjust heading font size for small screens */
    }
    .conference-heading p{
        font-size: 1.1rem;
        padding-top: 10px;
        color: black;
        font-weight: bolder;
    }
}

@media (min-width: 768px) and (max-width: 1300px) {
    .dylogo img {
        width: 250px; /* Adjust image width for tablets */
    }

    .conference-heading h2 {
        font-size: 20px; /* Adjust heading font size for tablets */
    }

    .conference-heading p{
        color: black;
        font-weight: bolder;
        font-size: 16px;
    }
}



#nav-bar {
    margin-left: 35px;
    margin-top: 30px;
    max-width: 80px;
    border: 1px solid #bed1df;
    border-radius: 4%;
    background-color: #9E1C36;
    -webkit-box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
    -moz-box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
    box-shadow: -2px 3px 2px 0px rgba(5, 0, 0, 0.11);
  }
  
  li {
    color: #9E1C36;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75em;
    list-style: none;
  }
  
  li.level-one {
    font-size: 2rem;
    text-align: center;
    border-top: 1px solid #9E1C36;
    cursor: pointer;
  }
  
  li.level-one:first-child {
    border-top: none;
  }
  
  li.level-one:hover {
    background: #9E1C36;
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(233, 238, 242, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(47%, rgba(246, 246, 246, 1)), color-stop(100%, rgba(233, 238, 242, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(233, 238, 242, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(233, 238, 242, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(233, 238, 242, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(233, 238, 242, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9eef2', GradientType=0);
  }
  
  i {
    color: #000;
    margin: 25%;
  }
  
  p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #bed1df;
    margin: 50px;
  }
  
  a {
    color: #3f8eb9;
    text-decoration: none;
  }
  
  .level-one {
    position: relative;
  }
  
  .level-two {
    display: none;
    position: absolute;
    height: 50px;
    width: 100px;
    background: #FFFFFF;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.65em;
    text-align: center;
  }
  
  .level-two:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #fff;
    display: block;
    width: 0;
    z-index: 1;
    left: -9px;
    top: 15px;
  }
  
  .level-two li {
    margin: 15px;
  }
  
  .level-one:hover > .level-two {
    display: block;
  }
  
  .level-two {
    left: 130%;
    top: 0;
  }
  
  /* Media queries for mobile and tablet responsiveness */
  
  @media (max-width: 768px) {
    #nav-bar {
      max-width: 60px;
      margin: 0;
    }
  
    li.level-one {
      font-size: 1.5rem;
    }
  
    li.level-two {
      width: 80px;
    }
  
    li.level-two:after {
      left: 10px;
    }
  }
  
  @media (max-width: 1024px) {
    #nav-bar {
      max-width: 60px;
    }
  }
  